config/template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/01">
  <xs:element name="template" type="templateType"/>
  <xs:complexType name="entryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="key" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="mapType">
    <xs:sequence>
      <xs:element type="entryType" name="entry" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="styleType">
    <xs:sequence>
      <xs:element type="mapType" name="map"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="layoutType">
    <xs:sequence>
      <xs:element type="xs:string" name="left"/>
      <xs:element type="xs:string" name="top"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="widthsType">
    <xs:sequence>
      <xs:element name="width" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="20"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="canvasType">
    <xs:sequence>
      <xs:element type="layoutType" name="layout"/>
      <xs:element type="widthsType" name="widths"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="schemaType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="canvasType" name="canvas"/>
      <xs:element type="xs:string" name="sheet"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="templateType">
    <xs:sequence>
      <xs:element type="styleType" name="style"/>
      <xs:element type="schemaType" name="schema"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>